!!!
%html
  %head
  %body

    %h2 Welcome to the Tour Scheduler, #{@user.email}

    %p To begin scheduling your Tour, just follow this link: #{@url}

    %p Thanks for using the Tour Scheduler and have a great day!
