%h1 Welcome to the Tour Scheduler

= form_for(@schedule_tour, :url => create_tour_path(@schedule_tour)) do |f|

  .field
    Please enter your email address
    = f.text_field :email

  .actions
    = f.submit 'Submit'
